<!DOCTYPE html>
<html lang="ZH">
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/test.css') }}">
    <script src="static/javascript/test.js"></script>
</head>
<!-- <style>
    
     
</style> -->
<body>
    
    <div class="top">top</div>
    <div class="banner">banner</div>
    <div class="box">
        <ul>
            <li><a style="margin-left:20px" href="/form"><font size="4">information</font size></a></li>
            <li><img src="/static/photo/shino.jpg" width="100%" height="100%"> </li>
            <li>3</li>
            <li class="last">4</li>
        </ul>
        <ul>
            <li><button onclick="test()">test</button></li>
            <li>6</li>
            <li>7</li>
            <li class="last">8</li>
        </ul>
    </div>
    <div class="footer">footer</div>
</body>
</html>
